.class-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.spinner {
  align-self: center;
  width: 100%;
}
.class-list-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
